
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog | <%= @count_message %> |
<% if session[:cart_id] != nil %>
  <a href="/carts/<%=session[:cart_id]%>"><img title="Show cart" border="0" height="20px" src="http://simpleicon.com/wp-content/uploads/Shopping-Cart-11.png" /></a>
<% end %>
</h1>
<h3> </h3>

<!-- START_HIGHLIGHT -->
<% cache ['store', Product.latest] do %>
<!-- END_HIGHLIGHT -->
  <% @products.each do |product| %>
<!-- START_HIGHLIGHT -->
    <% cache ['entry', product] do %>
<!-- END_HIGHLIGHT -->
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
    <!-- START:currency -->
          <span class="price">
            <%= number_to_currency(product.price) %>
            <%= button_to 'Add to cart', line_items_path(product_id: product), class: 'button' %>
          </span>
    <!-- END:currency -->
        </div>
      </div>
<!-- START_HIGHLIGHT -->
    <% end %>
<!-- END_HIGHLIGHT -->
  <% end %>
<!-- START_HIGHLIGHT -->
<% end %>
<!-- END_HIGHLIGHT -->

